<input 
	ng-model	= "user.username" 
	type		= "text"
	class		= "form-control"
	placeholder = "username">

<input 
	ng-model	= "user.password" 
	type		= "password" 
	class		= "form-control"
	placeholder = "password">

<button 
	class	= "btn btn-success"
	ng-click= "login()">
	login
</button>

<button 
	class	= "btn btn-light"
	ng-click= "hideLoginForm()">
	cancel
</button>

<button 
	class	 = "btn btn-primary"
	ng-click = "openRegistrForm()">
	registr
</button>

<div id="login-socials">
	<a style="color: green" href="auth/github" class="fa fa-github" aria-hidden="true"></a>
	<a style="color: green" href="auth/google" class="fa fa-google" aria-hidden="true"></a>
	<!-- <a style="color: red"  href="auth/facebook" class="fa fa-facebook-official" aria-hidden="true"></a>
	<a style="color: red" href="auth/youtube" class="fa fa-youtube" aria-hidden="true"></a> -->
</div>	

<md-checkbox ng-model="rememberMe">TODO - remember me</md-checkbox>

<span 
	id			= "err-msg" 
	ng-class	= "errMsg.class">
	{{errMsg.registrErrMsg}}
</span>
