/*common*/
	html,
	body {
		height: 100%;
	}

	main {
		display: block;
		padding: 50px;
	}

	body {
		height: 100%;
	}

	.btn {
		margin: 15px;
	}
	.table {
		margin-bottom: 0;
	}
	ul {
		padding: 0;
	}


/*header*/
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		padding-right: 25px;
		padding-left: 25px;
		line-height: 50px;
		background-color: #999;
		text-align: right;
		z-index: 100;
	}

	#hello {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
	}
	
	/*auth handlers*/
	#sign-out-handler,
	#sign-in-handler {
		font-size: 16px;
		display: inline-block;
		margin-left: 20px;
		line-height: 1;
		cursor: pointer;
		color: #fff;
	}
	
	/*auth wrapper*/
	#auth {
		position: relative;
	}
	
	/*login and registr form*/
	.auth-form {
		position: absolute;
		top: 60px;
		right: 0;
		width: 300px;
		padding: 20px;
		background-color: #fff;
		-webkit-box-shadow: 0 0 2px 0 #ccc;
		box-shadow: 0 0 2px 0 #ccc;
	}
	.auth-form .form-control {
		display: inline-block;
		margin-top: 20px;
	}
	
	/*error message in login and registr form*/
	#err-msg {
		position: absolute;
		bottom: -10px;;
		left: 20px;
	}
	#err-msg.error {color: red;}
	#err-msg.success {color: green;}
	
	/*all users*/
	#allUsers {
		position: absolute;
		left: 0px;
		top: 0px;
	}
	#allUsers button {
		padding: 0;
		line-height: 1;
	}
	#allUsers ul {
		display: inline-block;
		list-style-type: none;
	}
	#allUsers li {
		display: inline-block;
		line-height: 1;
	}




/*main*/
	main {
		display: block;
	}

	/*request*/
	#request-block	 {
		width: 50%;
		max-width: 200px;
		margin: 50px auto;
		text-align: center;	
		border: 1px solid #ccc;
		padding: 25px;
	}

	/*response*/
	#response-block {
		width: 50%;
		margin: auto;
	}

	/*favorites*/
	#favorite {
		position: fixed;
		top: 50%;
		left: 20px;
		height: 300px;
		margin-top: -150px;
		border: 1px solid #ccc;
		background-color: #fff;
		overflow-y: auto;
	}
	#favorite h3 {
		font-size: 18px;
		padding: 10px;
		text-transform: uppercase;
	}
	#favorite ul { 
		padding: 0;
		list-style-type: none;
	}
	#favorite ul li { 
		display: block;
		text-align: left;
		padding: 5px;
		height: 35px;
	}	
	#favorite ul li button {
		display: inline-block;
		vertical-align: middle;
		width: 100px;
		margin: 5px;
	}
	#favorite .glyphicon-trash {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		color: red;
	}

	/*main view*/
	#main-view-table ul {
		list-style-type: none;
	}

/*footer*/
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		padding-right: 25px;
		padding-left: 25px;
		background-color: #ccc;
		line-height: 50px;
		text-align: right;
	}
